continu = True

while continu:
    g = 9.8
    m = float(input("Enter the mass(kg): "))
    h = float(input("Enter the height(meter): "))
    i = input("Please choose the formula: (Kinetic energy , Gravitational energy , Mechanical energy , Pressure): ")
    if i.lower() == "kinetic energy":
        v = float(input("Input your velocity: "))
        answer = .5 * m * v**2
        print(answer)
        x = input("Do yo want Continu?: (y / n):")
        if x.lower() == "y":
            continu = True
        elif x.lower() == "n":
            continu = False
    elif i.lower() == "gravitational energy":
        answer = m * g * h
        print(answer)
        x = input("Do yo want Continu?: (y / n):")
        if x.lower() == "y":
            continu = True
        elif x.lower() == "n":
            continu = False
    elif i.lower() == "mechanical energy":
        v = float(input("Input your velocity: "))
        k = .5 * m * v**2
        u = m * g * h
        answer = k + u
        print(answer)
        x = input("Do yo want Continu?: (y / n):")
        if x.lower() == "y":
            continu = True
        elif x.lower() == "n":
            continu = False
    elif i.lower() == "pressure":
        p_atm = 100000
        d = float(input("Enter the density(kg/m3): "))
        atm = input("Is there Atmospheric pressure? (y / n): ")
        if atm.lower() == "y":
            answer = d * g * h + p_atm
            print(answer)
            x = input("Do yo want Continu?: (y / n):")
            if x.lower() == "y":
                continu = True
            elif x.lower() == "n":
                continu = False
        elif atm.lower() == "n":
            answer = d * g * h
            print(answer)
            x = input("Do yo want Continu?: (y / n):")
            if x.lower() == "y":
                continu = True
            elif x.lower() == "n":
                continu = False
        else:
            print("Wrong !")
            continu = False
    else:
        print("Wrong !")
